
body {
	background-color: #EEE;
	width:1100px;
	margin:auto;
}

header {
	border:1px #DDD solid;
	height: 50px;
	position: relative;
	background-color: #FAFAFA;
	border-radius:0 0 5px 5px;
	margin-bottom: 5px;
}

header .logo {
	position: absolute;
	left: 20px;
	top:15px;
}

header .logo .o {
	color:red;
}

header .logo .t {
	color:green;
}

footer {
	position: relative;
	border:1px #DDD solid;
	height: 40px;
	background-color: #FAFAFA;
	border-radius:5px;
	margin-top: 5px;
}

footer .github {
	position: absolute;
	right: 10px;
	top:10px;
}

.message {
	background-color: #EEEEAA;
	border-radius:5px;
	margin-bottom: 5px;
	border:1px #DDD solid;
	height: 30px;
	line-height: 30px;
	padding:0 10px;
} 

article {
	border:1px #DDD solid;
	padding: 10px;
	background-color: #FAFAFA;
	border-radius:5px;
}

article .type {
	font-size:18px;
	font-weight: bold;
	margin-bottom: 4px;
}

article .nav {
	margin-bottom: 14px;
}

article h2 {
	font-size: 18px;
}

article ul {
	margin: 0;
	padding:0 0 0 15px;
	list-style-position: outside;
}

article ul li {
	list-style: none;
	list-style-type: square;
}

article p {
	margin:5px 0 3px 0;
}

article .logs {
	font-family:monospace;
	font-size:12px;
	font-style:normal;
	line-height:14px;
}

a, a:visited {
	color:black;
}