<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="org.otto"/>

    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <bean class="org.otto.web.interceptor.FlashScopeInterceptor"/>
    </mvc:interceptors>

    <jee:jndi-lookup id="mongoUrl" jndi-name="mongo/url" expected-type="java.lang.String" default-value="localhost"/>

    <jee:jndi-lookup id="mongoDbName" jndi-name="mongo/dbName" expected-type="java.lang.String" default-value="otto"/>

</beans>