<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config='false' use-expressions="true">
        <intercept-url pattern="/javamelody" access="isAuthenticated()"/>
        <intercept-url pattern="/logs" access="isAuthenticated()"/>
        <intercept-url pattern="/configuration" access="isAuthenticated()"/>
        <intercept-url pattern="/sources/**" access="isAuthenticated()"/>
        <intercept-url pattern="/" access="isAuthenticated()"/>
        <http-basic/>
    </http>

    <authentication-manager>
        <authentication-provider ref="partnerUserAuthenticationProvider" />
    </authentication-manager>

    <beans:bean id="partnerUserAuthenticationProvider" class="com.github.dbourdette.otto.security.OttoAuthenticationProvider" />

</beans:beans>